//color

$bg-main-dark: #00010c;
$color-text-muted:  #506086bb; //muted text dark
$bg-input:#171d2bbb;
$text-label-input:#e4ecff;
$text-placeholder-input:#3d4557;
$primary-color:#00ccff;
$bg-dark: #010214;
$text-input-error: #810303;
$color-text-dark: #d6c8c8ea; //for text & icon in dark mode
$gold-color: #FFD700;
$green-color:#28A745;